{% extends 'suba/layout/main.html' %}
{%block title%}
Registeration | online shopping
{%endblock title%} 
{%block content%}
<section class="bg-light py-4 my-5" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{services}} Services</h4>
                <hr style="border-color: #b8bfc2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'collections' services.catagory.name %}">collections</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{services}}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-4 my-3 pic-box">
                {%if services.trending%}
                <div class="hot">Hot</div>
                {%endif%}
                <img src="{{services.service_image.url}}"class="card-image-top"alt="Categories" style="height:220px; width: 300px;">
            </div>

            <div class="col-8 my-3">

                <h5 class="text-success">{{service | upper}}</h5>
                <p>{{services.description}}</p>
                <h6 class="my-2 text-primary">offer_price: Rs.{{services.service_cost}}</h6>
                <input type="hidden" value="{{services.id}}" id="pid">
                <button class="btn btn-primary" id="btncart"><i class="fa fa-cart"></i>Add to cart</button>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded",function(event){
        const btncart=document.getElementById("btncart");
         
        btncart.addEventListener('click',function(){
                let postobj={
                    'pid':pid.value,
                }
                //console.log(postobj)
                fetch('/addtocart',
                {
                    method:'POST',
                    credentials:'same-origin',
                    headers:{
                        'Accept': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken':'{{ csrf_token }}',
                    },
                    body: JSON.stringify(postobj)

                }).then(response => {
                    return response.json();

                }).then(data => {
                    //console.log(data);
                    alert(data['status'])
                })
            });
});    
</script>
{%endblock content%}
