<div class="d3">
    <div class="ex_background">
        <img src="static/image/2.jpg" alt="" width="400px" height="400px">
    </div>
        <div class="#">
            <h1>Checks To Keep Your Engine Fit and Functional</h1>
            <p>An engine is like the heart of a car. It needs to run smooth in order to keep your car moving. I can’t emphasize more on how important it is to keep the engine fit and functioning efficiently. Here are 10 engine maintenance tips that’ll help your engine run forever:</p>

            <h2>#1. Change engine oil at regular intervals</h2>
            <p>New engine oil being put in the vehicle</p>
                
            <p>This is the least you can do. The engine oil keeps all moving parts well lubricated so that wear and tear is minimal. Also, it traps all the dust, dirt, and sediments, keeping them out of places they shouldn’t be. Check oil levels every month and top up if the level is low. Oil grade and change intervals are subject to the manufacturer’s recommendations. The oil filter is equally important as it filters all the junk from the oil and stops regulation back into the engine. This will ensure that you engine runs smooth and cool.
            </p>

            <h2> #2. Keep check on the cooling system</h2>
                
            <p>Even though we have come a long way in terms of efficiency of a car engine, a lot of energy is lost during combustion in the form of heat. Metals and alloys, which your car engine is made out of, are not very good friends with heat. Always ensure there is ample coolant in the tank as it is very important for heat dissipation. A 1:1 ratio of coolant and distilled water is ideal. Also, it’s a good thing to look at the engine temp gauge on a hot sunny day and shut your car down in case it’s close to overheating</p>
        
            <h2> #2. Keep check on the cooling system</h2>
                
            <p>Short of breath? Feeling tired? Your car’s engine needs oxygen as much as you do. A constricted air flow can cause the fuel to not burn completely, in turn increasing emissions and reducing mileage. Check the air filter and get it cleaned/ changed whenever you feel there is too much dirt and debris stuck to it. Your engine needs to breathe properly to function well and keep going.</p>
        
        </div>

    </div>
    
    <style>
        .d3{
            background-color: lightpink;
        }
        .ex_background{
            margin-left: 32vw;
        }
        p{
            text-align: justify;
            text-align-last: auto;
        }
    </style>
