<div class="d3">
<div class="ex_background">
    <img src="static/image/3.jpg" alt="" width="400px" height="400px">
</div>
    <div class="#">
        <h1>[Exterior Deisgners;] Learn about what kind of work a car designer performs.</h1>
        <p>The task of the designer is usually divided by some aspects.<br>

        First, car designers can work in 1 of 3 areas: exterior design, interior design, or color/trim design.<br>
            
            ・Exterior Designers job is design the appearance and style of the car.<br>
            
            ・Interior Designers focus on making the vehicle interior for the driver and passengers, and also design the shape of instrument panel.<br>
            
            ・Color/trim Designers job is color coordination of both exterior and interior, and also they decide what materials (metal, wood grain, leather, fabric, carpeting) are to be used on the inside and outside of the vehicle to make it visually appealing.<br>
            
            “Clay modelers” transform a concept sketch drawn by a car designer into a three-dimensional object by using industrial clay.<br>
            
            “Car Design Director or Chief Car Designer” is responsible for supervising car designers.<br>
            
            Today, car designers assume a large role in develoing cars.<br>
            
            For example, target setting. Designers do research like “what kind of people are most likely to buy their products, and/or when do consumers make purchase decisions.”<br>
            
            Marketing research such as observing and collecting data from customers’ perspectives is also an important job for car designers.<br>
            
            </p>
    </div>
</div>

<style>
    .d3{
        background-color: lightpink;
    }
    .ex_background{
        margin-left: 32vw;
    }
    p{
        text-align: justify;
        text-align-last: auto;
    }
</style>