<div class="d3">
<div class="ex_background">
    <img src="static/image/9.jpg" alt="" width="400px" height="400px">
</div>
<div class="">
    <h1>Interior Design</h1>
    <p>Interior design is especially challenging because of everything that goes into it. The seats must fit a wide range of drivers and occupants. There must be enough switches to control the features, and they have to be easy enough to reach and use. The designers have to decide on colours and fabric for the seats, and the type of carpet to use.</p>

    <p>They must also incorporate safety features such as airbags, including in the seat sides and above the side windows. The airbag for the front-seat passenger requires a specialized panel in the dash, fitted with thin material so the deploying airbag can push through it. Depending on the design, the panel may be on a seam line to help hide it, but on a plain dash, the cover must fit so that the small indentation behind it doesn’t show.</p>
</div>
</div>
<style>
    .d3{
        background-color: lightpink;
    }
    .ex_background{
        margin-left: 32vw;
    }
    </style>