<div class="d3">
    <div class="ex_background">
        <img src="static/image/5.jpg" alt="" width="400px" height="400px">
    </div>
        <div class="#">
            <h1>Washing Your Car</h1>
            <h2>Pull into an empty bay and park your car.</h2>
            <p>The bay is the area of the self-service station where you will be washing your car. Park your car in the center of the bay, leaving enough room to walk in front of your car.[1]
                If the car wash is busy, you may have to wait in line for your turn. Drive up behind any other cars waiting in line, and slowly pull forward as the cars move up.</p>
                
            <h2>Hang your floor mats on the provided metal clips.</h2>
            
            <p>If your floor mats are made of rubber or plastic, take them out of your car and hang them on the bay with metal clips. If your car wash doesn’t have metal clips, simply set them against the wall so you can wash them later. Skip this step if your mats are made of carpet, or if you'd rather not clean them.[2]
            </p>

            <h2>Insert coins or a credit card into the machine.</h2>
                
            <p>Many newer machines work with a credit card, but older models might only take coins. Once you insert your money, the sprayer wand will be ready to go, so make sure you’re ready to wash![3]
                Different car washes charge different amounts, but in general, most of them charge about $1 per minute.
                If you’re using a credit card, the machine will automatically charge the card from when you turn the machine on until you press stop.
                If you’re using quarters, the machine will stay on for the amount of time you pay for. If the machine stops, you can insert more money to turn it back on again.
                </p>
        
            <h2>Set the dial to “Wash” or “Pre-Soak.”</h2>
                
            <p> Head over to the machine that controls the settings of your spray wand. Near the bottom, you’ll notice a dial with about 10 options on it. To start, turn the knob to either the “Wash” setting or the “Pre-Soak” setting to get your car wet.[4]
                Use the Pre-Soak setting if your car is really dirty. Otherwise, just stick to Wash.
                </p>
            
            <h2>Stand about 3 to 5 feet (0.91 to 1.52 m) away from your car as you wash.</h2>
            <p> If you stand too close, the high-pressure stream can damage your vehicle. Keep a safe distance so you don’t scratch or mark up your car.[5]
            </p>
        </div>

    </div>
    
    <style>
        .d3{
            background-color: lightpink;
        }
        .ex_background{
            margin-left: 32vw;
        }
        p{
            text-align: justify;
            text-align-last: auto;
        }
    </style>
