<div class="d3">
    <div class="ex_background">
        <img src="static/image/7.jpg" alt="" width="400px" height="400px">
    </div>
        <div class="#">
            <h1>What is a Wheel Alignment & why is it Important?</h1>
            <p>Ensuring your wheels are accurately aligned improves both the performance and longevity of your tyres. Wheels often become misaligned by hitting potholes, bumps, kerbs, driving on uneven surfaces and through general wear and tear. It is therefore essential to maintain accurate alignment of your wheels, to ensure their quality and performance remains optimal.
            </p>

            <h2>What is a Wheel Alignment?</h2>
            <p>Wheel alignment refers to the angle of your wheels in comparison to each other and the body of your vehicle. Wheel alignment is adjusted by altering the vehicle’s suspension. Using state of the art technology, Tyre Specialists at Tyres and More are able to accurately determine exactly how much adjustment is required and apply accordingly. We recommend that you get your wheel alignment checked at least every 10000km as well as any time you experience a change in the driving or handling of your vehicle.
            </p>
                
            <h2>What are the Warning Signs of Misaligned Wheels?</h2>
                
            <p>The angle of your wheels can become skewed over time causing various changes to your driving experience. Warning signs that it is time to get your wheel alignment checked:</p>

            <p>   ● Uneven tread wear</p>
            <p>    ● A steering wheel that is off-centre when driving straight</p>
            <p>    ● Vehicle pulling off to the left or right</p>
        
            <h2>Why is Wheel Alignment Important?</h2>
                
            <p>Maintaining proper wheel alignment is essential to avoid unnecessary wear on your tyres, steering, suspension and brakes. Accurate wheel alignment optimises driving stability, maximises tyre life and improves your vehicle's overall handling performance.

                Book in your next wheel alignment check with Tyres and More by calling 13 MORE today!</p>
        
        </div>

    </div>
    
    <style>
        .d3{
            background-color: lightpink;
        }
        .ex_background{
            margin-left: 32vw;
        }
        p{
            text-align: justify;
            text-align-last: auto;
        }
    </style>